<div class="container"> 
  <div class="row"> 
    <div class="col-md-6">
      <div class="well">
        <p>Form for user to create profile, first name, last name.
        </p>
      </div>
    </div>
  </div>
</div>